.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.socialMedia {
  display: flex;
  gap: 12px;
  margin: 20px 0 80px;
}

.profile {
  height: 100%;
  padding-right: 80px;
}

.personalDescription {
  padding: 20px 0;
}
